{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-primary" href="{{ path('board') }}">
        To Board
    </a>

    <h1>Task edit</h1>

    {{ form(edit_form) }}


{% endblock %}
