{% extends "::base.html.twig" %}
{% block body %}
<h2>My Board</h2>
    {% if is_granted('ROLE_MANAGER') %}
        <a class="btn btn-success" href="{{ path("task_new") }}">New Task</a>
    {% endif %}
<div class="clearfix"></div>
    <div class="col-md-8 column">
        <h3>To Do</h3>

        {% for task in tasks %}
            {% if task.status == 1 %}
                <div class="card">
                    <h4>{{ task.title }}</h4>
                {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('task_edit', {'id': task.id}) }}" class="edit">e</a>
                        <a href="{{ path('task_delete', {'id': task.id}) }}" class="remove">-</a>
                {% endif %}
                    <p>{{ task.description }}</p>
                    <a href="{{ path('change_status', {'status': 2, "id": task.id}) }}">-></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="col-md-8 column">
        <h3>Doing</h3>

        {% for task in tasks %}
            {% if task.status == 2 %}
                <div class="card">
                    {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('task_edit', {'id': task.id}) }}" class="edit">e</a>
                        <a href="{{ path('task_delete', {'id': task.id}) }}" class="remove">-</a></h4>
        {% endif %}
                    <h4>{{ task.title }}</h4>
                    <p>{{ task.description }}</p>
                    <a href="{{ path('change_status', {'status': 1, "id": task.id}) }}"><-</a>
                    <a href="{{ path('change_status', {'status': 3, "id": task.id}) }}">-></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="col-md-8 column">
        <h3>Done</h3>

        {% for task in tasks %}
            {% if task.status == 3 %}
                <div class="card">
                    {% if is_granted('ROLE_MANAGER') %}
                        <a href="{{ path('task_delete', {'id': task.id}) }}" class="remove">-</a></h4>
                {% endif %}
                    <h4>{{ task.title }}</h4>
                    <p>{{ task.description }}</p>
                    <a href="{{ path('change_status', {'status': 2, "id": task.id}) }}"><-</a>
                </div>

            {% endif %}
        {% endfor %}
    </div>

{% endblock %}